@use 'mixins' as *;
@use 'variables' as *;

html, body {
    @include fit;
    font-family: $font-global, Arial, sans-serif;
}

.navbar {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: $header-footer-background;
    list-style-type: none;
    height: 5.6rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            height: 5rem;
            padding-left: 3rem;
            padding-bottom: 0;
        }

        a  {
            text-decoration: none;
            color: $header-footer-text;
        }

        &__title {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 0;
                img {
                    height: auto;
                    margin-top: 0.5rem;

                    @include tablet {
                        margin-top: 1rem;
                    }

                    @include desktop {
                        margin-top: 1.1rem;
                    }
                }

                @include desktop {
                    padding-left: 4.2rem;
                }
        }
        &__options {
            height: 100%; 

        }
        &__optionsList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        height: 100%;
        
            @include tablet {
                display: flex;
                gap: 2rem;
                font-size: 1rem; 
            }

            @include desktop {
                font-size: 0.9rem;
            }

            a:hover {
                border-bottom: 2px solid white;
            }
        }

        &__options-option {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        }

        &__options-option--active {
            border-bottom: 2px solid white;
        }

        &__options-text {
            flex-grow: 1;
            text-align: center;
          
            @include tablet {
            display: flex;
            height: 100%;
            align-items: center;;
            }
        }
}

.footer {
    @include fit;
    position: relative;
    background-color: $header-footer-background;
    color: $header-footer-text;
    padding: 1.2rem 0.5rem 1.2rem 0.6rem;

        @include desktop {
            padding: 2rem 0.5rem 1.2rem 5.5rem;
        }

    &__socialContent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

            @include tablet {
            flex-direction: row;
            }

    }

    address {
        font-style: normal; /* Resetting the default (italic) style */
    }
    &__head {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

            &--title {
            font-weight: 600;
            font-style: normal;
            @include margin-reset;
            font-size: 2rem;
            color: $header-footer-text;

                @include tablet {
                    font-weight: 600;
                    font-size: 2.5rem;
                }

                @include desktop {
                    font-weight: 400;
                    font-size: 2rem;
                }
            }
    }
    &__media
    {
        display: flex;
        align-content: flex-start;
            @include tablet {
                display: flex;
                align-content: flex-start;
            }
            
            @include desktop {
                padding-left: 1.2rem;
            }
    }
    &__media-icon {
        height: 2rem;
        width: 2rem;
        padding: 1.2rem;

        &:hover {
        transform: scale(1.1);
        }

            @include tablet {
                height: 1.6rem;
                width: 1.6rem;
                padding-top: 2.5rem;
            }

            @include desktop {
                height: 1.3rem;
                width: 1.3rem;
                padding-top: 2.1rem;
            }
    }
    &__bandsitelogo {
        height: 1.6rem;
        padding: 1.2rem;
        cursor: pointer;

            @include tablet {
               position: absolute;
               height: 1.2rem;
               top: 2.7rem;
               right: 2rem; 
            }

            @include desktop {
                height: 1rem;
                right: 5.5rem;
            }
    }
    &__contactbox
    {
            @include tablet {
                display: flex;
                flex-wrap: wrap;
                padding-top: 1rem;
                padding-bottom: 1rem; 
            }

            @include desktop {
                gap: 1.75rem;
            }
    }
    &__contactbox-reachout {
        font-weight: 400;
        font-size: 1rem;
        padding: 0.5rem;
        line-height: 1.3rem;

            @include tablet {
                font-size: 0.95rem;
                line-height: 1.5rem;
            }

            @include desktop {
                font-size: 0.8rem;
                line-height: 1.25rem;
            }
    }
    &__contactbox-info {
        @include margin-reset;
         padding: 0.5rem;
    } 
    &__copyright-info {
            @include margin-reset;
            font-weight: 400;
            font-size: 0.9rem;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            padding-left: 1rem;

                @include tablet {
                font-size: 0.95rem;
                padding-top: 1.3rem;
                padding-bottom: 1.3rem;
                }
                @include desktop {
                    font-size: 0.8rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }
        }
    }