@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;
@use 'partials/global' as *;


.hero
{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-size: cover;
    
        @include tablet {
            height: calc(20vw + 370px);
        }

        @include desktop {
            height: calc(45vw - 25px);
        }

        &__bg {
            background-color: rgba($header-footer-background, 0.5);
            height: 15rem;
            display: flex;
            align-items: center;

                @include tablet {
                    height: calc(20vw + 370px);
                }

                @include desktop {
                    height: calc(45vw - 25px);
                }
        }
     
        &__title {
            @include fit;
            font-weight: 600;
            padding-left: 1rem;
            font-size: 1.8rem;
            position: relative;
            color: $body-text;        
        
                @include tablet {
                    font-size: 4.2rem;
                    padding: 1.9rem;
                }

                @include desktop {
                    font-size: 3.5rem;
                    padding-left: 6.5rem;
                }
        }
}

.about {
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
        
        @include tablet {
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }

        @include desktop {
            padding-left: 10.2rem;
            padding-right: 10.2rem;
        }

    &__title {
    font-weight: 600;
    font-size: 1.8rem;

        @include tablet {
            font-size: 2.7rem;
        }
        @include desktop {
            font-size: 2.09rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &__part1 {
        @include tablet {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
        }

        @include desktop {
            padding-right: 0;
        }
    }
    &__image {
        height: auto;
        width: 100%;  
            
            @include desktop {
                height: 40vh;
                width: 60vw;
            }
    }
    &__quote {
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.9rem;

            @include tablet {
                font-size: 1.65rem;
                line-height: 2.4rem;
            }

            @include desktop {
                font-size: 1.2rem;
                line-height: 1.8rem;
                margin-right: 9rem;
            }
    }
    &__quoteby {
        font-weight: 600;
        font-size: 1.1rem;

            @include tablet {
                font-size: 1.2rem
            }
            @include desktop {
                font-size: 0.8rem;
            }
    
    }

    &__part2 {
        @include tablet {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
            padding-top: 1.8rem;
        }

        @include desktop {
            padding-right: 6rem;
        }
    }
    &__title2 {
        font-weight: 400;
        font-style: bold;

            @include tablet {   
                @include fit;
                font-weight: 600;
                font-size: 1.9rem;
            }
            @include desktop {
                font-weight: 400;
                font-size: 1.4rem;
            }
    }

    &__para {
        font-weight: 400;
        line-height: 1.4rem;
        font-size: 1.05rem;

            @include tablet {
                display: flex;
                gap: 2rem;
                font-size: 1.12rem;
                line-height: 1.7rem;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }
            @include desktop {
                font-size: 0.9rem;
                line-height: 1.4rem;
            }
    }
} 
.gallery {
    background-color: #FAFAFA;
    padding-top: 1.4rem;

    @include tablet {
        padding: 1.3rem;
    }
    @include desktop {
        padding-left: 5.7rem;
        padding-right: 5.7rem;
    }
        &__title {
            @include margin-reset;
            font-size: 1.85rem;
            font-weight: 600;
            padding-left: 1rem;

                @include tablet {
                    font-size: 2.6rem;
                    font-weight: 600;
                    padding: 1.8rem;
                }
                @include desktop {
                    font-size: 2.1rem;
                }
        }
        &__photos {   
            padding-right: 0.6rem;
            padding-left: 0.6rem;

            @include tablet {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
            }
            &--item {
                @include fit;
                padding: 0.5rem 0.3rem;

                @include tablet {
                    width: calc(33.33% - 2rem);
                }

                img {
                    height: auto;
                    width: 100%;
                    filter: grayscale(100%);
                    
                    &:hover {
                        filter: grayscale(0%);
                    }
                        
                        @include tablet {
                           height: auto;
                            
                        }
                }
            }
        }
}
.comment {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;

        @include tablet {
            padding-left: 5rem;
            padding-right: 5.2rem;
        }

        @include desktop { 
            align-items: center;
            padding-left: 13rem;
            padding-right: 13rem;
        }
    
    &__formAndPost {

        @include tablet {
            display: flex;
            flex-direction: column; 
            width: 95%;
        }
        @include desktop {
            width: 62%;
        }
    }
    &__form {
        font-family: 400;
        padding-right: 1.5rem;
        display: flex;
        border-bottom: .15rem solid #E1E1E1;
        padding-bottom: 2rem;
    
            @include tablet {
                justify-content: center;
            }
    }

    &__title {
        font-weight: 600;
        font-size: 2.1rem;

            @include tablet { 
                font-size: 2.5rem;
                margin-right: 9rem;
            }

            @include desktop {
                font-size: 2.5rem;
                margin-right: 30rem;
            }
    }

    &__profileIcon {
        margin-top: 1.5rem;
        margin-right: 1rem;
        height: 55px;
        width: 55px;
        border-radius: 50%;
            img {
                width: 100%;
                height: auto;
                transform: scale(1.8);
            }

            
    }
    &__formInputSection {
        @include tablet {
            flex-grow: 1;
        }
    }
    &__label {
        font-weight: 600;
        color: #AFAFAF;
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    &__input1, &__input2 {
        font-size: 1.1rem;
        font-weight: 400;
        height: 2rem;
        width: 95%;
        margin-top: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1.2rem;
        border: .125rem solid #E1E1E1;
        background-color:#FAFAFA;
        border-radius: 0.3rem;
        

            &::placeholder {
                color: black;
                position: absolute;
                top: 0.9rem;
                left: 0.8rem;   
            }
                @include tablet {
                    width: 100%;
                    font-size: 0.9rem;
                }
    }

    &__input2 {
        padding-bottom: 6rem;
        }

    &__buttonEl {
        @include tablet {
        display: flex;
        justify-content: flex-end;
        }
    }
    &__button {
        height: 3.5rem;
        border: none;
        width: 100%;
        font-weight: 400;
        font-size: 1.4rem;
        color: white;
        background-color: #323232;
        border-radius: 0.3rem;
        padding: 0;

            &:hover {
                background-color: black;
            }

            @include tablet {
                width: 35%;
                height: 3.2rem;
                font-size: 1.2rem;
            }
            @include desktop { 
                width: 33%;
                height: 2.5rem;
                font-size: 1rem;
            }
    }
    &__post {
        display: flex;
        flex-direction: column;

            @include tablet { 
                width: 100%;
            }
    }
    &__container {
        display: flex;
        flex-direction: row;
        border-bottom: .15rem solid #E1E1E1;
        margin-bottom: 0.5rem;
    }
    &__mainComment {
        font-weight: 400;
        height: auto;
        width: 32.1006rem;
        font-size: 1.2rem;
        padding-right: 1.2rem;
        flex-grow: 1;

            @include tablet {
                padding-left:0.5rem;
                padding-right: 0.5rem;
                font-size: 0.9rem;
            }
    }
    &__nameDate {
        display: flex;
        justify-content: space-between;
            @include desktop {
                flex-wrap: wrap;
            }
    }
    &__likesDiv {
        display: flex;
        gap: 1rem;
    }
    &__like:hover {
        filter: brightness(0.8);
    }
    &__likesDisplay {
        display: flex;
        width: 50%;
    }
    &__delete {
        margin-left: 10rem;

            @include tablet {
                margin-left: 20rem;
            }
    }
    &__date { 
        margin-top: 1.55rem;
        font-weight: 400;
        color: #AFAFAF;
        font-size: 1.2rem;

            @include tablet { 
                font-size: 0.9rem;
            }
    }
    &__content {
        margin-top: 0;
        margin-bottom: 0.5rem;
        flex-grow: 1;
    }
    &__icon {
        margin-top: 1.5rem;
        margin-right: 2rem;
        background-color: #E1E1E1;
        height: 2.9375rem;
        width: 3.4rem;
        border-radius: 50%;

            @include desktop { 
                margin-right: 1rem;;
            }
    }  
}
