@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;


html, body {
    @include fit;
    font-family: $font-global;
}

.navbar
{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: $header-footer-background;
    list-style-type: none;

        @include tablet
        {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            padding: 1.3rem;
            padding-top: 0.8rem;
            padding-left: 3rem;
        }

        a{
            text-decoration: none;
            color: $header-footer-text;
        }

        &__title
        {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 0;
                img
                {
                    height: auto;
                    margin-top: 0.5rem;

                    @include tablet
                    {
                        margin-top: 1rem;
                    }

                    @include desktop
                    {
                        margin-top: 1.1rem;
                    }
                }

                @include desktop
                {
                    padding-left: 4.2rem;
                }
        }
        
        &__optionsList
        {
        display: flex;
        flex-grow: 1;
        list-style: none;
         @include fit;
        padding-top: 0.7rem;
        margin-bottom: 0.7rem;

         
            @include tablet
            {
                display: flex;
                gap: 2rem;
                font-size: 1rem; 
                padding-top: 1.9rem;
            }

            @include desktop
            {
                font-size: 0.9rem;
            }
        }

        &__options-option1, &__options-option2
        {
        list-style-type: none;
        display: flex;
        flex-grow: 1;
        justify-content: center;

            &:hover 
            {
             border-bottom: 1px white;
            }
        }
}

.hero
{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-size: cover;
    
        @include tablet
        {
            height: calc(20vw + 370px);
        }

        @include desktop
        {
            height: calc(45vw - 25px);
        }

        &__bg
        {
            background-color: rgba($header-footer-background, 0.5);
            height: 15rem;
            display: flex;
            align-items: center;

                @include tablet
                {
                    height: calc(20vw + 370px);
                }

                @include desktop
                {
                    height: calc(45vw - 25px);
                }

        }
     
        &__title
        {
            @include fit;
            font-family: "Avenir";
            font-weight: 600;
            padding-left: 1rem;
            font-size: 1.8rem;
            position: relative;
            color: $body-text;        
        
                @include tablet
                {
                    font-size: 4.2rem;
                    padding: 1.9rem;
                }

                @include desktop
                {
                    font-size: 3.5rem;
                    padding-left: 6.5rem;
                }
        }
}

.about
{
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
        
        @include tablet
        {
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }

        @include desktop
        {
            padding-left: 10.2rem;
            padding-right: 10.2rem;
        }

    &__title
    {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 1.8rem;

        @include tablet
        {
            font-size: 2.7rem;
        }
        @include desktop
        {
            font-size: 2.09rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &__part1
    {
        @include tablet
        {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
        }
    }
    &__image
    {
        height: auto;
        width: 100%;  
            
            @include desktop
            {
                height: calc(60vh - 220px);
                width: calc(72vw - 100px);
            }
    }
    &__quote
    {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.9rem;

            @include tablet
            {
                font-size: 1.65rem;
                line-height: 2.4rem;
            }

            @include desktop
            {
                font-size: 1.2rem;
                line-height: 1.8rem;
                margin-right: 9rem;
            }
    }
    &__quoteby
    {
        font-family: "Avenir";
        font-weight: 600;
        font-size: 1.1rem;

            @include tablet
            {
                font-size: 1.2rem
            }
            @include desktop
            {
                font-size: 0.8rem;
            }
    
    }

    &__part2
    {
        @include tablet
        {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
            padding-top: 1.8rem;
        }
    }
    &__title2
    {
        font-family: "Avenir";
        font-weight: 400;
        font-style: bold;

            @include tablet
            {   
                @include fit;
                font-weight: 600;
                font-size: 1.9rem;
            }
            @include desktop
            {
                font-weight: 400;
                font-size: 1.4rem;
            }
    }

    &__para
    {
        font-family: "Avenir";
        font-weight: 400;
        line-height: 1.4rem;
        font-size: 1.05rem;

            @include tablet
            {
                display: flex;
                gap: 2rem;
                font-size: 1.12rem;
                line-height: 1.7rem;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }
            @include desktop
            {
                font-size: 0.9rem;
                line-height: 1.4rem;
            }
    }
} 

.gallery
{
    
    background-color: #FAFAFA;
    padding-top: 1.4rem;

    @include tablet 
    {
        padding: 1.3rem;
    }
    @include desktop
    {
        padding-left: 5.7rem;
        padding-right: 5.7rem;
    }
        &__title
        {
            @include margin-reset;
            font-family: "Avenir";
            font-size: 1.85rem;
            font-weight: 600;
            padding-left: 1rem;

                @include tablet
                {
                    font-size: 2.6rem;
                    font-weight: 600;
                    padding: 1.8rem;
                }
                @include desktop
                {
                    font-size: 2.1rem;
                }
        }
        &__photos
        {   
            padding-right: 0.6rem;
            padding-left: 0.6rem;

            @include tablet
            {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
            }
            &--item
            {
                @include fit;
                padding: 0.5rem 0.3rem;

                @include tablet
                {
                    width: calc(33.33% - 2rem);
                }

                img 
                {
                    height: auto;
                    width: 100%;
                    filter: grayscale(100%);
                    
                    &:hover
                    {
                        filter: grayscale(0%);
                    }
                        
                        @include tablet
                        {
                           height: auto;
                            
                        }
                }
            }
        }
}
.comment {

    padding-left: 1.4rem;
    padding-bottom: 1rem;


    &__form {
        padding-left: 4.5rem;
        padding-right: 3rem;
    }

    &__title {
        font-weight: 600;
        font-size: 1.85rem;
    }

    &__label {
        color: #AFAFAF;
        font-weight: 400;
        font-size: 0.9rem;
        padding-bottom: 0.25rem;
    }

    &__input1, &__input2 {
        font-size: 1.1rem;
        height: 2rem;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1.2rem;
        border-color: #AFAFAF;
        border-radius: 0.3rem;
    }

    &__input2 {
        height: 6rem; 
    }

    &__button {
        height: 3rem;
        width: 100%;
        
        border-radius: 0.3rem;
    }
    
  }

.footer
{
    @include fit;
    position: relative;
    background-color: $header-footer-background;
    color: $header-footer-text;
    font-family: "Avenir";
    padding: 1.2rem 0.5rem 1.2rem 0.6rem;

        @include desktop
        {
            padding: 2rem 0.5rem 1.2rem 5.5rem;
        }

    &__socialcontent
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

            @include tablet
            {
            flex-direction: row;
            }

    }

    address
    {
        font-style: normal; /* Resetting the default (italic) style */
    }
   
    &__head
    {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

            &--title
            {
            font-family: "Avenir";
            font-weight: 600;
            font-style: normal;
            @include margin-reset;
            font-size: 2rem;
            color: $header-footer-text;

                @include tablet
                {
                    font-family: "Avenir";
                    font-weight: 700;
                    font-size: 2.5rem;
                }

                @include desktop
                {
                    font-weight: 400;
                    font-size: 2rem;
                }
            }
    }

    &__media
    {
        display: flex;
        align-content: flex-start;


            @include tablet
            {
                display: flex;
                align-content: flex-start;
            }
            
            @include desktop
            {
                padding-left: 1.2rem;
            }
    
        &--insta, &--facebook, &--twitter
        {
            height: 2rem;
            width: 2rem;
            padding: 1.2rem;

            &:hover
            {
            transform: scale(1.1);
            }

                @include tablet
                {
                    height: 1.6rem;
                    width: 1.6rem;
                    padding-top: 2.5rem;
                }

                @include desktop
                {
                    height: 1.3rem;
                    width: 1.3rem;
                    padding-top: 2.1rem;
                }
        }
        &--bandsitelogo
        {
            height: 1.6rem;
            padding: 1.2rem;

                @include tablet
                {
                   position: absolute;
                   height: 1.2rem;
                   top: 2.7rem;
                   right: 2rem; 
                }

                @include desktop
                {
                    height: 1rem;
                    right: 5.5rem;
                }
        }
    }
    &__contactbox
    {
            @include tablet
            {
                display: flex;
                flex-wrap: wrap;
                padding-top: 1rem;
                padding-bottom: 1rem; 
            }

            @include desktop
            {
                gap: 1.75rem;
            }
        &--reachout1, &--reachout2, &--reachout3
        {
            font-family: "Avenir";
            font-weight: 400;
            font-size: 1rem;
            padding: 0.5rem;
            line-height: 1.3rem;

                @include tablet
                {
                    font-size: 0.95rem;
                    line-height: 1.5rem;
                }

                @include desktop
                {
                    font-size: 0.8rem;
                    line-height: 1.25rem;
                }
        }
        &--reachout1-title, &--reachout1-info, &--reachout1-email,
        &--reachout2-title, &--reachout2-info, &--reachout2-email,
        &--reachout3-title, &--reachout3-info, &--reachout3-email
        {
            @include margin-reset;
             padding: 0.5rem;
        } 
    }
    &__copyright {
        &--info {
            @include margin-reset;
            font-family: "Avenir";
            font-weight: 400;
            font-size: 0.9rem;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            padding-left: 1rem;

                @include tablet {
                font-size: 0.95rem;
                padding-top: 1.3rem;
                padding-bottom: 1.3rem;
                }

                @include desktop {
                    font-size: 0.8rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }
        }
    }
}
