@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

html, body
{
    @include fit;
}

.navbar
{
    font-family: "Avenir";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: $header-footer-background;
    color: $header-footer-text;
    list-style-type: none;

        @include tablet
        {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            padding: 1.3rem;
            padding-left: 3rem;
        }
    a
    {
        text-decoration: none;
    }

        &__options 
        {
            a, ul 
            {
                list-style-type: none;
                color: $header-footer-text;
            }
        }
        &__title
        {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 0;
                img
                {
                    height: 1.3rem;

                        @include tablet
                        {
                            height: 1.5rem;
                        }
                }
        }
        &__option
        {   
            &--list
            {
            display: flex;
            justify-content: space-around;;
            padding: 0;

                    @include tablet
                    {
                        display: flex;
                        gap: 2rem;
                        font-size: 1.1rem; 
                    }
            }
        }
        &__options--option1:hover
        {
            border-bottom: 3rem white;
        }
}
.hero
{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-size: cover;
    
        @include tablet
        {
            height: calc(20vw + 370px);
        }

        &__bg
        {
            background-color: rgba($header-footer-background, 0.5);
            height: 15rem;
            display: flex;
            align-items: center;

                @include tablet
                {
                    height: calc(20vw + 370px);
                }

        }
     
        &__title
        {
            @include fit;
            font-family: "Avenir";
            font-weight: 600;
            padding-left: 1rem;
            font-size: 1.8rem;
            position: relative;
            color: $body-text;        
        
                @include tablet
                {
                    font-size: 4.2rem;
                    padding: 1.9rem;
                }
        }
}
.about
{
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
        
        @include tablet
        {
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }

    &__title
    {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 1.8rem;

        @include tablet
            {
             font-size: 2.7rem;
            }
    }

    &__part1
    {
        @include tablet
        {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
        }

        &--image
        {
            height: 13rem;
            width: 100%;   

                @include tablet
                {
                    height: 23rem;
                }         
        }
        &--quote
        {
            font-family: "Avenir";
            font-weight: 600;
            font-size: 1.12rem;
            line-height: 1.9rem;

                @include tablet
                {
                    font-size: 1.65rem;
                    line-height: 2.4rem;
                }
        }
        &--quoteby
        {
            font-family: "Avenir";
            font-weight: 600;
            font-size: 1.1rem;

                @include tablet
                {
                    font-size: 1.2rem
                }
    
        }
    }
    &__part2
    {
        @include tablet
        {
            padding-left: 3.5rem;
            padding-right: 3.5rem; 
            padding-top: 1.8rem;
        }

        &--title2
        {
            font-family: "Avenir";
            font-weight: 400;
            font-style: bold;

                @include tablet
                {   
                    @include fit;
                    font-weight: 600;
                    font-size: 1.9rem;
                }
        }

        &--para
        {
            font-family: "Avenir";
            font-weight: 400;
            line-height: 1.4rem;
            font-size: 1.05rem;

                @include tablet
                {
                    display: flex;
                    gap: 2rem;
                    font-size: 1.12rem;
                    line-height: 1.7rem;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                }
        }
    }
} 
.gallery
{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FAFAFA;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

        &__title
        {
            font-family: "Avenir";
            font-weight: 600;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        &__item
        {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            img 
            {
                height: 12rem;
                width: 100%;
            }
        }
}
.footer
{
    background-color: $header-footer-background;
    color: $header-footer-text;
    font-family: "Avenir";
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__head
    {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

            &--title
            {
            font-family: "Avenir";
            font-weight: 400;
            font-style: normal;
            @include margin-reset;
            font-size: 2rem;
            color: $header-footer-text;
            }
    }

    &__media
    {
        display: flex;
        align-content: flex-start;

    
        &--insta, &--facebook, &--twitter
        {
            height: 2rem;
            width: 2rem;
            padding: 1.2rem;
        }
        &--img
        {
            height: 1.6rem;
            padding: 1.2rem;
        }
    }
    &__reachout1, &__reachout2, &__reachout3
    {
        font-family: "Avenir";
        font-weight: 400;
        font-size: 1rem;
        padding: 0.5rem;
        line-height: 1.3rem;

        
            &--title, &--info, &--email
            {
                @include margin-reset;
                padding: 0.5rem;
            } 
    }
    &__copyright
    {
        &--info
        {
            @include margin-reset;
            font-family: "Avenir";
            font-weight: 400;
            font-size: 0.7rem;
            padding-left: 1rem;
        }
    }
}