@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Avenir";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: white;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1.3rem;
    padding-left: 3rem;
  }
}
.navbar a {
  text-decoration: none;
}
.navbar__title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0;
}
.navbar__title img {
  height: auto;
}
@media screen and (min-width: 768px) {
  .navbar__title img {
    height: auto;
  }
}
.navbar__options--list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .navbar__options--list {
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;
  }
}
.navbar__options--option1, .navbar__options--option2 {
  list-style-type: none;
  color: white;
  box-sizing: border-box;
}
.navbar__options--option1:hover {
  border-bottom: 3rem white;
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    height: calc(20vw + 370px);
  }
}
.hero__bg {
  background-color: rgba(50, 50, 50, 0.5);
  height: 15rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__bg {
    height: calc(20vw + 370px);
  }
}
.hero__title {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 600;
  padding-left: 1rem;
  font-size: 1.8rem;
  position: relative;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4.2rem;
    padding: 1.9rem;
  }
}

.about {
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}
.about__title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 768px) {
  .about__part1 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.about__part1--image {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__part1--image {
    height: auto;
  }
}
.about__part1--quote {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.9rem;
}
@media screen and (min-width: 768px) {
  .about__part1--quote {
    font-size: 1.65rem;
    line-height: 2.4rem;
  }
}
.about__part1--quoteby {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .about__part1--quoteby {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__part2 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1.8rem;
  }
}
.about__part2--title2 {
  font-family: "Avenir";
  font-weight: 400;
  font-style: bold;
}
@media screen and (min-width: 768px) {
  .about__part2--title2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.9rem;
  }
}
.about__part2--para {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.05rem;
}
@media screen and (min-width: 768px) {
  .about__part2--para {
    display: flex;
    gap: 2rem;
    font-size: 1.12rem;
    line-height: 1.7rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-top: 1.4rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 1.3rem;
  }
}
.gallery__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Avenir";
  font-size: 1.85rem;
  font-weight: 600;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 1.8rem;
  }
}
.gallery__photos {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__photos--item {
  margin: 0;
  padding: 0;
  padding: 0.5rem 0.3rem;
}
@media screen and (min-width: 768px) {
  .gallery__photos--item {
    width: calc(33.33% - 2rem);
  }
}
.gallery__photos--item img {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__photos--item img {
    height: auto;
  }
}

.footer {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #323232;
  color: white;
  font-family: "Avenir";
  padding: 1.2rem 0.5rem 1.2rem 0.6rem;
}
.footer__test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer address {
  font-style: normal;
}
.footer__head {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__head--title {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__head--title {
    font-family: "Avenir";
    fonr-weight: 700;
    font-size: 2.5rem;
  }
}
.footer__media {
  display: flex;
  align-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__media {
    display: flex;
    align-content: flex-start;
  }
}
.footer__media--insta, .footer__media--facebook, .footer__media--twitter {
  height: 2rem;
  width: 2rem;
  padding: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__media--insta, .footer__media--facebook, .footer__media--twitter {
    height: 1.6rem;
    width: 1.6rem;
    padding-top: 2.5rem;
  }
}
.footer__media--bandsitelogo {
  height: 1.6rem;
  padding: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__media--bandsitelogo {
    position: absolute;
    height: 1.2rem;
    top: 2.7rem;
    right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contactbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.3rem;
}
@media screen and (min-width: 768px) {
  .footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
}
.footer__contactbox--reachout1-title, .footer__contactbox--reachout1-info, .footer__contactbox--reachout1-email, .footer__contactbox--reachout2-title, .footer__contactbox--reachout2-info, .footer__contactbox--reachout2-email, .footer__contactbox--reachout3-title, .footer__contactbox--reachout3-info, .footer__contactbox--reachout3-email {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem;
}
.footer__copyright--info {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright--info {
    font-size: 0.95rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}/*# sourceMappingURL=bio.css.map */