@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.navbar {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1.3rem;
    padding-top: 0.8rem;
    padding-left: 3rem;
  }
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar__title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0;
}
.navbar__title img {
  height: auto;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navbar__title img {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__title img {
    margin-top: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__title {
    padding-left: 4.2rem;
  }
}
.navbar__optionsList {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 0.7rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 768px) {
  .navbar__optionsList {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding-top: 1.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__optionsList {
    font-size: 0.9rem;
  }
}
.navbar__options-option1, .navbar__options-option2 {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.navbar__options-option1:hover, .navbar__options-option2:hover {
  border-bottom: 1px white;
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    height: calc(20vw + 370px);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: calc(45vw - 25px);
  }
}
.hero__bg {
  background-color: rgba(50, 50, 50, 0.5);
  height: 15rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__bg {
    height: calc(20vw + 370px);
  }
}
@media screen and (min-width: 1280px) {
  .hero__bg {
    height: calc(45vw - 25px);
  }
}
.hero__title {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 600;
  padding-left: 1rem;
  font-size: 1.8rem;
  position: relative;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4.2rem;
    padding: 1.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.5rem;
    padding-left: 6.5rem;
  }
}

.about {
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 10.2rem;
    padding-right: 10.2rem;
  }
}
.about__title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 2.09rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about__part1 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.about__image {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .about__image {
    height: calc(60vh - 220px);
    width: calc(72vw - 100px);
  }
}
.about__quote {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.9rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.65rem;
    line-height: 2.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-right: 9rem;
  }
}
.about__quoteby {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .about__quoteby {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quoteby {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .about__part2 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1.8rem;
  }
}
.about__title2 {
  font-family: "Avenir";
  font-weight: 400;
  font-style: bold;
}
@media screen and (min-width: 768px) {
  .about__title2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title2 {
    font-weight: 400;
    font-size: 1.4rem;
  }
}
.about__para {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.05rem;
}
@media screen and (min-width: 768px) {
  .about__para {
    display: flex;
    gap: 2rem;
    font-size: 1.12rem;
    line-height: 1.7rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__para {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-top: 1.4rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 5.7rem;
    padding-right: 5.7rem;
  }
}
.gallery__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Avenir";
  font-size: 1.85rem;
  font-weight: 600;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    font-size: 2.1rem;
  }
}
.gallery__photos {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__photos--item {
  margin: 0;
  padding: 0;
  padding: 0.5rem 0.3rem;
}
@media screen and (min-width: 768px) {
  .gallery__photos--item {
    width: calc(33.33% - 2rem);
  }
}
.gallery__photos--item img {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
}
.gallery__photos--item img:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .gallery__photos--item img {
    height: auto;
  }
}

.comment {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .comment {
    padding-left: 5rem;
    padding-right: 5.2rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
.comment__form {
  padding-right: 1.5rem;
  display: flex;
  border-bottom: 0.15rem solid #E1E1E1;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .comment__form {
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}
.comment__title {
  font-weight: 600;
  font-size: 2.1rem;
}
@media screen and (min-width: 768px) {
  .comment__title {
    font-size: 3rem;
  }
}
.comment__profileIcon {
  margin-top: 1.5rem;
  margin-right: 1rem;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.comment__profileIcon img {
  width: 100%;
  height: auto;
  transform: scale(1.8);
}
@media screen and (min-width: 768px) {
  .comment__formInputSection {
    flex-grow: 1;
  }
}
.comment__label {
  font-weight: 600;
  color: #AFAFAF;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
.comment__input1, .comment__input2 {
  font-size: 1.1rem;
  font-weight: 400;
  height: 2rem;
  width: 95%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  border: 0.125rem solid #E1E1E1;
  background-color: #FAFAFA;
  border-radius: 0.3rem;
}
.comment__input1::-moz-placeholder, .comment__input2::-moz-placeholder {
  color: black;
  position: absolute;
  top: 0.9rem;
  left: 0.8rem;
}
.comment__input1::placeholder, .comment__input2::placeholder {
  color: black;
  position: absolute;
  top: 0.9rem;
  left: 0.8rem;
}
@media screen and (min-width: 768px) {
  .comment__input1, .comment__input2 {
    width: 100%;
    font-size: 0.9rem;
  }
}
.comment__input2 {
  height: 6rem;
}
@media screen and (min-width: 768px) {
  .comment__buttonEl {
    display: flex;
    justify-content: flex-end;
  }
}
.comment__button {
  height: 3.5rem;
  border: none;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  background-color: #323232;
  border-radius: 0.3rem;
  padding: 0;
}
.comment__button:hover {
  background-color: black;
}
@media screen and (min-width: 768px) {
  .comment__button {
    width: 35%;
    height: 3.2rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__button {
    width: 33%;
    height: 2.5rem;
    font-size: 1rem;
  }
}
.comment__post {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .comment__post {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__post {
    width: 72%;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
.comment__container {
  display: flex;
  flex-direction: row;
  border-bottom: 0.15rem solid #E1E1E1;
  margin-bottom: 0.5rem;
}
.comment__mainComment {
  font-weight: 400;
  height: auto;
  width: 32.1006rem;
  font-size: 1.2rem;
  padding-right: 1.2rem;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .comment__mainComment {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
  }
}
.comment__nameDate {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .comment__nameDate {
    flex-wrap: wrap;
  }
}
.comment__date {
  margin-top: 1.55rem;
  font-weight: 400;
  color: #AFAFAF;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .comment__date {
    font-size: 0.9rem;
  }
}
.comment__content {
  margin-top: 0;
  flex-grow: 1;
}
.comment__icon {
  margin-top: 1.5rem;
  margin-right: 2rem;
  background-color: #E1E1E1;
  height: 45px;
  width: 4.2041rem;
  border-radius: 50%;
}
@media screen and (min-width: 1280px) {
  .comment__icon {
    margin-right: 1rem;
  }
}

.footer {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #323232;
  color: white;
  font-family: "Avenir";
  padding: 1.2rem 0.5rem 1.2rem 0.6rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 0.5rem 1.2rem 5.5rem;
  }
}
.footer__socialContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__socialContent {
    flex-direction: row;
  }
}
.footer address {
  font-style: normal; /* Resetting the default (italic) style */
}
.footer__head {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__head--title {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__head--title {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__head--title {
    font-weight: 400;
    font-size: 2rem;
  }
}
.footer__media {
  display: flex;
  align-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__media {
    display: flex;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media {
    padding-left: 1.2rem;
  }
}
.footer__media--insta, .footer__media--facebook, .footer__media--twitter {
  height: 2rem;
  width: 2rem;
  padding: 1.2rem;
}
.footer__media--insta:hover, .footer__media--facebook:hover, .footer__media--twitter:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .footer__media--insta, .footer__media--facebook, .footer__media--twitter {
    height: 1.6rem;
    width: 1.6rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media--insta, .footer__media--facebook, .footer__media--twitter {
    height: 1.3rem;
    width: 1.3rem;
    padding-top: 2.1rem;
  }
}
.footer__media--bandsitelogo {
  height: 1.6rem;
  padding: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__media--bandsitelogo {
    position: absolute;
    height: 1.2rem;
    top: 2.7rem;
    right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media--bandsitelogo {
    height: 1rem;
    right: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contactbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contactbox {
    gap: 1.75rem;
  }
}
.footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.3rem;
}
@media screen and (min-width: 768px) {
  .footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.footer__contactbox--reachout1-title, .footer__contactbox--reachout1-info, .footer__contactbox--reachout1-email, .footer__contactbox--reachout2-title, .footer__contactbox--reachout2-info, .footer__contactbox--reachout2-email, .footer__contactbox--reachout3-title, .footer__contactbox--reachout3-info, .footer__contactbox--reachout3-email {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem;
}
.footer__copyright--info {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright--info {
    font-size: 0.95rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright--info {
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}/*# sourceMappingURL=bio.css.map */