@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;
@use 'partials/global' as *;

.navbar
{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: $header-footer-background;
    list-style-type: none;
    height: 5.6rem;

        @include tablet
        {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            height: 5rem;
            padding-left: 3rem;
            padding-bottom: 0;
        }

        a{
            text-decoration: none;
            color: $header-footer-text;
        }

        &__title
        {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 0;
                img
                {
                    height: auto;
                    margin-top: 0.5rem;

                    @include tablet
                    {
                        margin-top: 1rem;
                    }

                    @include desktop
                    {
                        margin-top: 1.1rem;
                    }
                }

                @include desktop
                {
                    padding-left: 4.2rem;
                }
        }
        &__options {
            height: 100%; 

        }
        &__optionsList
        {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        height: 100%;
        

            @include tablet {
                display: flex;
                gap: 2rem;
                font-size: 1rem; 
            }

            @include desktop {
                font-size: 0.9rem;
            }

            a:hover {
                border-bottom: 2px solid white;
            }
        }

        &__options-option {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        }

        &__options-option--active {
            border-bottom: 2px solid white;
        }

        &__options-text {

            flex-grow: 1;
            text-align: center;
          
            @include tablet {
            display: flex;
            height: 100%;
            align-items: center;;
            }
        }
}

.hero {
    background-image: url(/assets/Images/hero-shows.jpg);
    background-size: cover;
    height: 24rem;
    
        @include tablet {
            height: calc(20vw + 370px);
        }

        @include desktop {
            height: calc(50vw - 20px);
            background-position: center;
            background-repeat: no-repeat;
        }

        &__bg {
            background-color: rgba($header-footer-background, 0.5);
            display: flex;
            flex-direction: column;
            height: 15rem;
            align-items: flex-start;
            
                @include tablet {
                    height: calc(20vw + 370px);
                }

                @include desktop {
                    height: calc(50vw - 20px);
                    flex-direction: row;
                    align-items: center;
                }
        }
        &__soundCloudTrack
        {
            @include fit;
            width: 93%;
            margin-right: 1rem;
            margin-left: 1rem;

                @include tablet {
                    width: 60%;
                    margin-left: 3rem;
                    iframe {
                        height: 9.5rem;
                    }
                }
                @include desktop {
                    width: 35%;
                    margin-right: 15rem;
                    margin-left: 0;
                    iframe {
                        height: 8rem;
                    }
                }
        }
        &__title
        {
            @include desktop 
            {
                padding-left: 3rem;
            }
        }
        &__title1 {
            @include fit;
            font-weight: 400;
            padding-left: 1rem;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
            font-size: 1.2rem;
            position: relative;
            color: $body-text;        
        
                @include tablet {
                    font-size: 2rem;
                    padding-left: 3rem;
                    padding-top: 4.5rem;
                }

                @include desktop {
                    font-size: 1.3rem;
                    padding-left: 6.5rem;
                    padding-bottom: 0;
                    padding-top: 2rem;
                }
        }
        &__title2 {
            @include fit;
            font-weight: 600;
            padding-left: 1rem;
            padding-bottom: 2rem;
            font-size: 2rem;
            width: 65%;
            position: relative;
            color: $body-text;        
        
                @include tablet {
                    font-size: 4rem;
                    padding-left: 3rem;
                }

                @include desktop {
                    font-size: 3rem;
                    padding-left: 6.5rem;
                }
        }
       
}
.shows {

    @include desktop {
        display: flex;
        
    }
    
    &__title {
        font-weight: 600;
        padding-left: 1.4rem;
        padding-top: 1rem;
        font-size: 2rem;

            @include tablet {
                padding-left: 3.8rem;
                font-size: 2.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            @include desktop {
                padding-left: 8rem;
            }
    }  
    &__labels
    {
        display: none;

        @include tablet {
            display: flex;
            width: 65%;
            font-weight: 600;
            color: #AFAFAF;
            font-size: 0.9rem;
            justify-content: space-around;
        }

        @include desktop {
            display: flex;
            width: 62%;
        }
    }
    &__dateLabel-Tab
    {
        @include tablet {
            padding-left: 1rem;
        }
    }
    &__venueLabel-Tab
    {
        @include tablet {
            padding-left: 3rem;
        }
    }
    &__all {
        @include tablet {
            margin-right: 0.7rem;
            margin-left: 0.7rem;
            margin-bottom: 2rem;
        }
        @include desktop {
            flex-grow: 1;
            margin-top: 4.5rem;
            margin-bottom: 1rem;
            margin-right: 4rem;
            margin-left: 4rem;
            
        }
    }
    &__eachShow
    {
        padding: 1.2rem;
        padding-left: 1.4rem;
        border-bottom: .15rem solid #E1E1E1;
        margin-bottom: 0.5rem;

            &:hover {
                background-color: #FAFAFA;
            }

            &:active, &:focus { 
                background-color: #E1E1E1; 
                outline: none;
            }

            &[show-selected='true'] {
                background-color: #E1E1E1;
            }

        @include tablet {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0.3rem;
        }
    }
    &__date, &__venue, &__location {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;

            @include tablet {
                flex-direction: row;
            }
    }
    &__date-label, &__venue-label, &__location-label
    {
        font-weight: 600;
        color: #AFAFAF;
        font-size: 0.8rem;
        @include fit;

            @include tablet
            {
                display: none;
            }
    }
    &__date-info, &__venue-info, &__location-info
    {
        font-weight: 400;
        font-size: 1rem;
        @include fit;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }
    &__date-info
    {
        font-weight: 600;
    }
    &__button
    {
        height: 3.5rem;
        font-weight: 400;
        font-size: 1.2rem;
        width: 100%;
        padding: 0;
        background-color: #323232;
        color: white;
        border-radius: 0.3rem;
        border: none;

        &:hover {
            background-color: black;
        }

            @include tablet {
                width: 23%;
                height: 3.3rem;
                font-size: 1rem;
            }

            @include desktop {
                width: 20%;
            }
    }
}
.footer
{
    @include fit;
    position: relative;
    background-color: $header-footer-background;
    color: $header-footer-text;
    font-family: "Avenir";
    padding: 1.2rem 0.5rem 1.2rem 0.6rem;

        @include desktop {
            padding: 2rem 0.5rem 1.2rem 5.5rem;
        }

    &__socialContent
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

            @include tablet {
            flex-direction: row;
            }

    }

    address {
        font-style: normal; /* Resetting the default (italic) style */
    }
   
    &__head {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

            &--title {
            font-family: "Avenir";
            font-weight: 600;
            font-style: normal;
            @include margin-reset;
            font-size: 2rem;
            color: $header-footer-text;

                @include tablet {
                    font-family: "Avenir";
                    font-weight: 600;
                    font-size: 2.5rem;
                }

                @include desktop {
                    font-weight: 400;
                    font-size: 2rem;
                }
            }
    }

    &__media
    {
        display: flex;
        align-content: flex-start;


            @include tablet {
                display: flex;
                align-content: flex-start;
            }
            
            @include desktop {
                padding-left: 1.2rem;
            }
    
        &--insta, &--facebook, &--twitter {
            height: 2rem;
            width: 2rem;
            padding: 1.2rem;

            &:hover {
            transform: scale(1.1);
            }

                @include tablet {
                    height: 1.6rem;
                    width: 1.6rem;
                    padding-top: 2.5rem;
                }

                @include desktop {
                    height: 1.3rem;
                    width: 1.3rem;
                    padding-top: 2.1rem;
                }
        }
        &--bandsitelogo {
            height: 1.6rem;
            padding: 1.2rem;

                @include tablet {
                   position: absolute;
                   height: 1.2rem;
                   top: 2.7rem;
                   right: 2rem; 
                }

                @include desktop {
                    height: 1rem;
                    right: 5.5rem;
                }
        }
    }
    &__contactbox
    {
            @include tablet {
                display: flex;
                flex-wrap: wrap;
                padding-top: 1rem;
                padding-bottom: 1rem; 
            }

            @include desktop {
                gap: 1.75rem;
            }
        &--reachout1, &--reachout2, &--reachout3 {
            font-family: "Avenir";
            font-weight: 400;
            font-size: 1rem;
            padding: 0.5rem;
            line-height: 1.3rem;

                @include tablet {
                    font-size: 0.95rem;
                    line-height: 1.5rem;
                }

                @include desktop {
                    font-size: 0.8rem;
                    line-height: 1.25rem;
                }
        }
        &--reachout1-title, &--reachout1-info, &--reachout1-email,
        &--reachout2-title, &--reachout2-info, &--reachout2-email,
        &--reachout3-title, &--reachout3-info, &--reachout3-email {
            @include margin-reset;
             padding: 0.5rem;
        } 
    }
    &__copyright {
        &--info {
            @include margin-reset;
            font-family: "Avenir";
            font-weight: 400;
            font-size: 0.9rem;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            padding-left: 1rem;

                @include tablet {
                font-size: 0.95rem;
                padding-top: 1.3rem;
                padding-bottom: 1.3rem;
                }

                @include desktop {
                    font-size: 0.8rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }
        }
    }
}
