@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.navbar {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  list-style-type: none;
  height: 5.6rem;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 5rem;
    padding-left: 3rem;
    padding-bottom: 0;
  }
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar__title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0;
}
.navbar__title img {
  height: auto;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navbar__title img {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__title img {
    margin-top: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__title {
    padding-left: 4.2rem;
  }
}
.navbar__options {
  height: 100%;
}
.navbar__optionsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .navbar__optionsList {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__optionsList {
    font-size: 0.9rem;
  }
}
.navbar__optionsList a:hover {
  border-bottom: 2px solid white;
}
.navbar__options-option {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.navbar__options-option--active {
  border-bottom: 2px solid white;
}
.navbar__options-text {
  flex-grow: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar__options-text {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.hero {
  background-image: url(/assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 24rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: calc(20vw + 370px);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: calc(50vw - 20px);
    background-position: center;
    background-repeat: no-repeat;
  }
}
.hero__bg {
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  height: 15rem;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .hero__bg {
    height: calc(20vw + 370px);
  }
}
@media screen and (min-width: 1280px) {
  .hero__bg {
    height: calc(50vw - 20px);
    flex-direction: row;
    align-items: center;
  }
}
.hero__soundCloudTrack {
  margin: 0;
  padding: 0;
  width: 93%;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__soundCloudTrack {
    width: 60%;
    margin-left: 3rem;
  }
  .hero__soundCloudTrack iframe {
    height: 9.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soundCloudTrack {
    width: 35%;
    margin-right: 15rem;
    margin-left: 0;
  }
  .hero__soundCloudTrack iframe {
    height: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 3rem;
  }
}
.hero__title1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  position: relative;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title1 {
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title1 {
    font-size: 1.3rem;
    padding-left: 6.5rem;
    padding-bottom: 0;
    padding-top: 2rem;
  }
}
.hero__title2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  width: 65%;
  position: relative;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title2 {
    font-size: 4rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title2 {
    font-size: 3rem;
    padding-left: 6.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows__title {
  font-weight: 600;
  padding-left: 1.4rem;
  padding-top: 1rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-left: 3.8rem;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    padding-left: 8rem;
  }
}
.shows__labels {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__labels {
    display: flex;
    width: 65%;
    font-weight: 600;
    color: #AFAFAF;
    font-size: 0.9rem;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .shows__labels {
    display: flex;
    width: 62%;
  }
}
@media screen and (min-width: 768px) {
  .shows__dateLabel-Tab {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__venueLabel-Tab {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__all {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__all {
    flex-grow: 1;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
.shows__eachShow {
  padding: 1.2rem;
  padding-left: 1.4rem;
  border-bottom: 0.15rem solid #E1E1E1;
  margin-bottom: 0.5rem;
}
.shows__eachShow:hover {
  background-color: #FAFAFA;
}
.shows__eachShow:active, .shows__eachShow:focus {
  background-color: #E1E1E1;
  outline: none;
}
.shows__eachShow[show-selected=true] {
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .shows__eachShow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.3rem;
  }
}
.shows__date, .shows__venue, .shows__location {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__date, .shows__venue, .shows__location {
    flex-direction: row;
  }
}
.shows__date-label, .shows__venue-label, .shows__location-label {
  font-weight: 600;
  color: #AFAFAF;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .shows__date-label, .shows__venue-label, .shows__location-label {
    display: none;
  }
}
.shows__date-info, .shows__venue-info, .shows__location-info {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shows__date-info {
  font-weight: 600;
}
.shows__button {
  height: 3.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  width: 100%;
  padding: 0;
  background-color: #323232;
  color: white;
  border-radius: 0.3rem;
  border: none;
}
.shows__button:hover {
  background-color: black;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 23%;
    height: 3.3rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    width: 20%;
  }
}

.footer {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #323232;
  color: white;
  font-family: "Avenir";
  padding: 1.2rem 0.5rem 1.2rem 0.6rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 0.5rem 1.2rem 5.5rem;
  }
}
.footer__socialContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__socialContent {
    flex-direction: row;
  }
}
.footer address {
  font-style: normal; /* Resetting the default (italic) style */
}
.footer__head {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__head--title {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__head--title {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__head--title {
    font-weight: 400;
    font-size: 2rem;
  }
}
.footer__media {
  display: flex;
  align-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__media {
    display: flex;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media {
    padding-left: 1.2rem;
  }
}
.footer__media--insta, .footer__media--facebook, .footer__media--twitter {
  height: 2rem;
  width: 2rem;
  padding: 1.2rem;
}
.footer__media--insta:hover, .footer__media--facebook:hover, .footer__media--twitter:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .footer__media--insta, .footer__media--facebook, .footer__media--twitter {
    height: 1.6rem;
    width: 1.6rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media--insta, .footer__media--facebook, .footer__media--twitter {
    height: 1.3rem;
    width: 1.3rem;
    padding-top: 2.1rem;
  }
}
.footer__media--bandsitelogo {
  height: 1.6rem;
  padding: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__media--bandsitelogo {
    position: absolute;
    height: 1.2rem;
    top: 2.7rem;
    right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__media--bandsitelogo {
    height: 1rem;
    right: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contactbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contactbox {
    gap: 1.75rem;
  }
}
.footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1.3rem;
}
@media screen and (min-width: 768px) {
  .footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contactbox--reachout1, .footer__contactbox--reachout2, .footer__contactbox--reachout3 {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.footer__contactbox--reachout1-title, .footer__contactbox--reachout1-info, .footer__contactbox--reachout1-email, .footer__contactbox--reachout2-title, .footer__contactbox--reachout2-info, .footer__contactbox--reachout2-email, .footer__contactbox--reachout3-title, .footer__contactbox--reachout3-info, .footer__contactbox--reachout3-email {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem;
}
.footer__copyright--info {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright--info {
    font-size: 0.95rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright--info {
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}/*# sourceMappingURL=shows.css.map */